<% if resource.errors.any? %>
  <div class="error-messages">
    <ul>
      <% resource.errors.messages.each do |attribute, messages| %>
        <% messages.uniq.each do |message| %>
          <li><%= message %></li>
        <% end %>
      <% end %>
    </ul>
  </div>
<% end %>
