<div class="center-area">
  <%= render "layouts/center/chat_header", chat: @chat %>
  <%= render "layouts/center/chat_messages", messages: @messages %>
  <%= render "layouts/center/chat_input", chat: @chat, message: @message %>
</div>
