  <!-- チャット一覧 -->
<turbo-frame id="chat-list">
  <div class="chat-list-container">
    <% if all_chats.any? %>
      <ul class="chat-history">
        <% all_chats.uniq { |chat| chat.other_user(current_user).id }.each_with_index do |chat, index| %>
          <li class="chat-item <%= 'hidden' if index >= 5 %>">
            <%= link_to chat_path(chat), data: { turbo_frame: "_top" } do %>
              <span class="chat-name"><%= chat.other_user(current_user).name %></span>
              <span class="chat-preview">
                <%= truncate(chat.messages.last&.content, length: 5) %>
              </span>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="no-chat-message">まだチャットがありません。</p>
    <% end %>
  </div>
</turbo-frame>
