<div class="all-friends">
  <h2>友達一覧</h2>
  <table>
    <thead>
      <tr>
        <th>名前</th>
        <th>メールアドレス</th>
      </tr>
    </tread>
    <tbody>
      <% @all_friends.each do |friend| %>
        <tr>
          <td>"<%= friend.name"</td>
        %>
            <%# <td>"<%= friend.email %>"</td>
          %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
