  <!-- 検索結果 -->
<turbo-frame id="search-results">
  <% if params[:name].present? %>
    <% if search_results.any? %>
      <ul class="search-results">
        <% search_results.each do |user| %>
          <li class="search-item">
            <% if current_user.friends.include?(user) %>
              <%= button_to "チャット開始", start_chat_path(user), method: :post, class: "start-chat-btn" %>
            <% else %>
              <span class="user-name"><%= user.name %></span>
            <% end %>
            <turbo-frame id="friend-request-btn-<%= user.id %>">
              <%= render "layouts/leftSide/request_button", user: user %>
            </turbo-frame>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p class="no-chat-message">該当するユーザーが見つかりませんでした。</p>
    <% end %>
  <% end %>
</turbo-frame>
