<div class="header">
  <div class="left">
    <a href="#" class="friend-search">友達を探す</a>
    <input type="test" class="friend-search" placeholder="友達を検索">
  </div>
  <div class="right">
    <a href="#" class="header-options">...</a>
  </div>
</div>
