<div class="left-side">
  <div class="recent-friends">
    <h2>最近交流のある友達</h2>
    <ul>
      <% if @recent_friends.present? %>
        <% @recent_friends.each do |friend| %>
          <li><%= friend.name %></li>
        <% end %>
      <% else %>
        <li>友達が登録されていません</li>
      <% end %>
    </ul>
  </div>
  <div class="all-friends">
    <h2>友達一覧</h2>
    <table>
      <thead>
        <tr>
          <th>名前</th>
          <th>メールアドレス</th>
        </tr>
      </tread>
      <tbody>
        <%# <% @all_friends.each do |friend| %> %>
          <tr>
            <%# <td>"<%= friend.name %>"</td>
          %>
          <%# <td>"<%= friend.email %>"</td>
        %>
      </tr>
      <%# <% end %> %>
    </tbody>
  </table>
</div>
</div>
<div>test通過
</div>
